.bash_history
.cache
.calc_history
.config/.mono/
.config/balena-etcher-electron/
.config/cef_user_data/
.config/dconf/
.config/google-chrome/
.config/JetBrains/*/port
.config/JetBrains/PhpStorm*/*/*/*/*.jar
.config/JetBrains/PhpStorm*/jba_config/caches/
.config/mpv/watch_later/
.config/sublime-merge/Local/*.sublime_license
.config/sublime-merge/Local/*.sublime_session
.config/sublime-text/Installed Packages/
.config/sublime-text/Local/*.sublime_session
.config/sublime-text/Packages/*
!.config/sublime-text/Packages/User/
.config/sublime-text/Packages/User/Package Control.user-ca-bundle
.config/sublime-text/Packages/User/Xdebug*
.config/sublime-text/Projects/*.sublime-workspace
.config/systemd/user/*/
.ecryptfs
.fehbg
.fonts/*.uuid
.gnupg/.#*
.histfile
.inputrc
.java/
.lesshst
.lnav/
./bin/lazygit
./bin/lazydocker
.local/bin/lazygit
.local/bin/lazydocker
.local/share/applications/mimeapps.list
.local/share/applications/mimeinfo.cache
.local/share/fonts/*.txt
.local/share/fonts/*/*/.uuid
.local/share/fonts/*/.uuid
.local/share/fonts/.uuid
.local/share/fonts/fonts/ttf/JetBrains*
.local/share/fonts/fonts/variable/JetBrains*
.local/share/fonts/fonts/webfonts/JetBrains*
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/keyrings/
.local/share/marble
.local/share/mc/
.local/share/meld/
.local/share/mime/
.local/share/newsboat
.local/share/nvim/.netrwhist
.local/share/nvim/plugged/
.local/share/nvim/shada/
.local/share/nvim/swap/
.local/share/recently-used.xbel
.local/share/Steam/
.local/share/steamtricks
.local/share/teamviewer*
.local/share/Trash/
.local/share/vlc/
.local/share/vulkan/
.local/share/xorg/
.mono/
.mozilla/firefox/
.nv/
.nvidia-settings-rc
.oh-my-zsh/
.pki/
.Private
.profile
.pyhistory*
.python_history
.rpmmacros
.serverauth.*
.spotify-easyrpm
.ssh/*
!.ssh/config
.steam/
.steampath
.steampid
.vboxclient*
.vim/.netrwhist
.viminfo
.wget-hsts
.Xauthority
.zcompdump
.zcompdump*
.zsh_history
repos/
rpmbuild/
screenshots/
