configuration {
    modi: "window,run,drun,ssh";
    font: "JetBrains Mono NL Regular 12";
    show-icons: true;
    display-window: "Window";
    display-drun: "Search";
}
@theme "oxide"

listview {
    lines: 12;
}
